.A1{
	width:578px;
	height: 158px;
	margin-left: 30%;
}
.A2{
	width:578px;
	height: 158px;
	margin-left: 43px;
}
.A3{
	width:578px;
	height: 158px;
	margin-left: 819px;
	margin-right: 43px;
}

.A4{
	width:1355px;
	height: 314px;
	margin-left: 42px;
	margin-right: 43px;
}